body{
    background-color: rgba(255,255,255,0.8);
}

#bloc_page{
    width: 100%;
    margin: auto;
}

header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position:static;
    height: 50px;
    padding: auto;
}

#titre_principal{
    padding-inline: 15px;;
    background-color: red;
    color:white;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
}
nav{
    display:flex;
    height: 50px;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}
nav span{
    background-color:white;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
nav span:hover{
    background-color: dodgerblue;
    color: white;
}

footer{
    display: flex;
    color:white;
    background-color: dodgerblue;
    justify-content: space-between;
}
.section_footer{
    padding-inline: 30px;
}

footer a{
    text-decoration: none;
    color:white;
}
footer a:hover{
    text-decoration: underline;
}

#Associations{
    display: flex;
    flex-direction: column;
}