body{
    background-color: rgba(255,255,255,0.8);
}

#bloc_page{
    width: 100%;
    margin: auto;
}

header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position:static;
    border:solid black;
    height: 50px;
    padding: auto;
}

#titre_principal{
    position: relative;
    height: 50px;
    display: flex;
    border:solid black;
    align-items: center;
}

header h1{

}

nav ul{
    list-style-type: none;
    display: flex;
    border:solid black;

}

nav li{
    margin-right: 30px;
    border:solid black;
}

nav a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    color:white;
    background-color: dimgray;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color:white;
}
footer a:hover{
    text-decoration: underline;
}

#Associations{
    display: flex;
    flex-direction: column;
}