body{
    background-color: rgba(255,255,255,0.8);
}

#bloc_page{
    width: 100%;
    margin: auto;
}

header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position:static;
    border:solid black;
    height: 50px;
    padding: auto;
}

#titre_principal{
    position: relative;
    height: 50px;
    display: flex;
    border:solid black;
    align-items: center;
}
nav{
    display:flex;
    height: 50px;
    border: solid black;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    border:solid black;
    height: 50px;
    align-items: center;
}

nav li{
    display: flex;
    justify-content: center;
    border:solid black;
    height: 50px;
    width: 60px;
    align-items: center;
    text-align: center;
    padding-inline: 20px;
}

nav a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    color:white;
    background-color: dodgerblue;
    justify-content: space-between;
}
.section_footer{
    padding-inline: 30px;
}

footer a{
    text-decoration: none;
    color:white;
}
footer a:hover{
    text-decoration: underline;
}

#Associations{
    display: flex;
    flex-direction: column;
}